
@{
    ViewBag.Title = "DescontinuarProducto";
}
<style>
    div{
        text-align:center;
    }
    h1,h2{
        color : white;
        font-size: 50pt;
        text-align: center;
    }
</style>
<div>
    <img height="400px" width="600px" src="~/img/gif/exito.gif"/>
    <h2>@ViewBag.mensaje</h2>
    <div>@Html.ActionLink("Retornar", "ConsultaProductos", null, new { @class = "btn btn-warning" })</div>
</div>

